apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  labels:
    app: myapp
    type: frontend
spec:
  template:
    metadata:
      name: myapp-pod
      labels:
        app: myapp
        type: frontend
    spec:
      containers:
        - name: pyapp-container
          image: furkan2121/flask-sqlite-app:latest
  replicas: 2
  selector:
    matchLabels:
      type: frontend
