apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: myapp-pdb
  labels:
    app: myapp
    type: frontend
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: myapp
      type: frontend
