apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-adapter
  namespace: default
data:
  config.yaml: |
    rules:
      - seriesQuery: 'counter_total'
        resources:
          overrides:
            namespace:
              resource: "namespace"
            pod:
              resource: "pod"
        name:
          matches: "counter_total"
          as: "counter_total"
        metricsQuery: 'sum(rate(counter_total[1m])) by (pod)'
