apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  labels:
    type: frontend   # label type eklendi
spec:
  type: NodePort
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      nodePort: 30004
  selector:
    type: frontend
